<section class="fd-section">
  <div class="fd-section__header">
    <h1 class="fd-section__title">Luigi Client uxManager features</h1>
  </div>
  <div class="fd-panel">
    <p>A playground for uxManager methods.</p>
  </div>
</section>

<section class="fd-section">
	<div class="fd-panel">
  <p><strong>Backdrop management:</strong></p>
    <button class="fd-button" (click)="toggleModal()">Add backdrop</button>
    <p>
      <app-code-snippet data="luigiClient.uxManager().addBackdrop()"></app-code-snippet>
      <app-code-snippet data="luigiClient.uxManager().removeBackdrop()"></app-code-snippet>
    </p>
  </div>
</section>

<section class="fd-section fd-blabla">
	<div class="fd-panel">
    <p><strong>Refresh context switcher:</strong></p>
    Adds the following entry as new value and triggers Context Switcher refresh. Click on the Context Switcher above to see the result before and afterwards.
    <input type="text" class="cy-newcsvalue" [(ngModel)]="newCsValue"/>
    <button class="fd-button cy-cs-update" (click)="addToContextSwitcher()">Add entry and refresh Context Switcher</button>
    &nbsp; 
    <button class="fd-button" (click)="clearContextSwitcher()">Clear extra entries</button>
    <div class="fd-alert fd-alert--success cy-cs-success" role="alert" *ngIf="csRefreshed">
      <button class="fd-alert__close" (click)="csRefreshed = false" aria-label="Close"></button>
      <span class="sap-icon--message-success"></span> Refreshed!
    </div>
    <p>
      <app-code-snippet data="luigiClient.uxManager().refreshContextSwitcher()"></app-code-snippet>
    </p>
  </div>
</section>


<section class="fd-section">
  <div class="fd-panel">
    <p><strong>Loading indicator:</strong></p>

    <button class="fd-button" (click)="triggerLoadingIndicatorDemo()">Trigger loading indicator</button>  - and hide it after 3 seconds.<br />
    
    <p>
      <app-code-snippet data="luigiClient.uxManager().showLoadingIndicator()"></app-code-snippet>
      <app-code-snippet data="luigiClient.uxManager().hideLoadingIndicator()"></app-code-snippet>
    </p>
  </div>
</section>

<app-modal [modalActive]="modalActive" (modalClosed)="toggleModal()"></app-modal>