section {
  .fd-alert {
    display: inline-block;
    margin-left: 1.6rem;
    padding: 0.5rem 3rem 0.5rem 0.5rem;
    position: relative;
    // max-width: 50%;

    .fd-alert__close {
      right: 0px;
      top: 4px;
      margin: 0.1rem;
      width: 25px;
      height: 25px;
      &::before {
        font-size: 1rem;
      }
    }
  }
  button {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    &:focus {
      border-color: #085caf;
      color: #085caf;
      box-shadow: 0 0 0 1px #0a6ed1;
    }
  }
  & > * {
    line-height: 1.75em;
  }
  li {
    display: block;
  }
  li:not(:last-of-type) {
    padding-bottom: 20px;
  }
  &.link-manager {
    input {
      display: inline;
      max-width: 25em;
    }
    button {
      margin-bottom: 1px;
      padding-top: 1px;
      padding-bottom: 1px;
      margin-left: 4px;
    }
  }
}
