<section class="fd-section">
  <div class="fd-section__header">
    <h1 class="fd-section__title">Project {{ projectId }}</h1>
  </div>
  <div class="fd-panel">
      <p><strong>LuigiClient uxManager methods:</strong></p>
      <button class="fd-button" (click)="toggleModal()">Add backdrop</button>
      <p>
        <app-code-snippet data="luigiClient.uxManager().addBackdrop()"></app-code-snippet>
        <app-code-snippet data="luigiClient.uxManager().removeBackdrop()"></app-code-snippet>
      </p>
  </div>
</section>

<section class="fd-section" *ngIf="preservedViewCallbackContext">
  <div class="fd-panel">
    <div class="fd-alert" role="alert">
      <span class="fd-status-label fd-status-label--available"></span> Context received from linkManager().goBack():<br />
      <pre>{{ preservedViewCallbackContext | json }}</pre>
    </div>
  </div>
</section>

<section class="fd-section link-manager" *ngIf="projectId && projectId !== 'overview'">
  <div class="fd-panel">
    <p><strong>LuigiClient linkManager methods:</strong></p>
    <ul class="fd-list-group">
      <li class="fd-list-group__item">
        <a href="javascript:void(0)" (click)="luigiClient.linkManager().navigate('/overview')">absolute: to overview</a>
        <app-code-snippet data="luigiClient.linkManager().navigate('/overview')"></app-code-snippet>
      </li>
      <li class="fd-list-group__item">
        <a href="javascript:void(0)" (click)="luigiClient.linkManager().navigate('users/groups/stakeholders')">relative: to stakeholders</a>
        <app-code-snippet data="luigiClient.linkManager().navigate('users/groups/stakeholders')"></app-code-snippet>
      </li>
      <li class="fd-list-group__item">
        <a href="javascript:void(0)" (click)="luigiClient.linkManager().fromClosestContext().navigate('/users/groups/stakeholders')">closest parent: to stakeholders</a>
        <app-code-snippet data="luigiClient.linkManager().fromClosestContext().navigate('/users/groups/stakeholders')"></app-code-snippet>
      </li>
      <li class="fd-list-group__item">
        <a href="javascript:void(0)" (click)="luigiClient.linkManager().fromContext('project').navigate('/settings')">parent by name: project to settings</a>
        <app-code-snippet data="luigiClient.linkManager().fromContext('project').navigate('/settings')"></app-code-snippet>
      </li>
      <li class="fd-list-group__item">
        <a href="javascript:void(0)" (click)="luigiClient.linkManager().fromClosestContext().withParams({foo: 'bar'}).navigate('settings')">project to settings with params (foo=bar)</a>
        <app-code-snippet data="luigiClient.linkManager().fromClosestContext().withParams({foo: 'bar'}).navigate('settings')"></app-code-snippet>
      </li>
      <li class="fd-list-group__item">
        <a href="javascript:void(0)" (click)="luigiClient.linkManager().fromContext('FOOMARK').navigate('/settings')">parent by name: with nonexisting context</a> (look at the console)
        <app-code-snippet data="luigiClient.linkManager().fromContext('FOOMARK').navigate('/settings')"></app-code-snippet>
      </li>
      <li class="fd-list-group__item">
        <a href="javascript:void(0)" (click)="luigiClient.linkManager().navigate('/settings', null, true)">with preserved view: project to global settings and back</a>
        <app-code-snippet data="luigiClient.linkManager().navigate('/settings', null, true)"></app-code-snippet>
      </li>
      <li class="fd-list-group__item check-path">
        <a href="javascript:void(0)" (click)="luigiClient.linkManager().navigate('/settings', null, true)">Check if path
          exists</a>
        <app-code-snippet data="luigiClient.linkManager().pathExists('{{pathExists.formValue}}')"></app-code-snippet>
        <span>
          <input type="text" [(ngModel)]="pathExists.formValue" />
          <button class="fd-button" (click)="checkIfPathExists()">Check</button>
        </span>
        <p class="check-path-result">
          <ng-container *ngIf="pathExists.result === true">
            Path exists!
          </ng-container>
          <ng-container *ngIf="pathExists.result === false">
            Path does not exist!
          </ng-container>
        </p>
      </li>
    </ul>
  </div>
</section>

<app-modal [modalActive]="modalActive" (modalClosed)="toggleModal()"></app-modal>
