<section class="fd-section">
  <div [hidden]="projectId !== 'pr1'">
    <div class="fd-section__header">
      <h1 class="fd-section__title">LuigiClient uxManager methods</h1>
    </div>
    <div class="fd-panel fd-has-margin-bottom-small">
      <p><strong>Backdrop</strong></p>
      <button class="fd-button" data-cy="add-backdrop" (click)="toggleModal()">
        Add backdrop
      </button>
      <p>
        <app-code-snippet data="uxManager().addBackdrop()"></app-code-snippet>
        <app-code-snippet
          data="uxManager().removeBackdrop()"
        ></app-code-snippet>
      </p>
    </div>
    <div class="fd-panel fd-has-margin-bottom-small">
      <p><strong>Confirmation modal</strong></p>
      <button
        class="fd-button"
        data-cy="show-luigi-confirmation-modal"
        (click)="showConfirmationModal()"
      >
        Show Luigi confirmation modal
      </button>
      <p>
        <app-code-snippet
          data="uxManager().showConfirmationModal(content)"
        ></app-code-snippet>
      </p>
      <p
        class="fd-has-font-style-italic"
        data-cy="luigi-confirmation-modal-result"
        ngClass="{{
          confirmationModalResult === 'confirmed'
            ? 'fd-has-color-status-1'
            : 'fd-has-color-status-2'
        }}"
        *ngIf="confirmationModalResult"
      >
        Luigi confirmation modal has been {{ confirmationModalResult }}
      </p>
    </div>

    <div class="fd-panel fd-has-margin-bottom-small">
      <p><strong>Alert</strong></p>
      <form #luigiAlertForm="ngForm">
        <div class="fd-form__set fd-has-padding-bottom-small">
          <div class="fd-form__item">
            <label class="fd-form__label" for="select-1">Type</label>
            <select
              [ngModel]="alertTypes[0]"
            
              class="fd-form__control"
              id="select-1"
              name="type"
              data-cy="luigi-alert-type"
            >
              <option [value]="type" *ngFor="let type of alertTypes">{{
                type
              }}</option>
            </select>
          </div>
          <div class="fd-form__item fd-form__item--check">
            <label class="fd-form__label">
              <input
                [ngModel]="true"
               
                type="checkbox"
                name="links"
                class="fd-form__control"
                data-cy="luigi-alert-links"
              />
              Links
            </label>
          </div>
          <div class="fd-form__item fd-form__item--check">
            <label class="fd-form__label">
              <input
                [ngModel]="true"
                type="checkbox"
                name="text"
                class="fd-form__control"
                data-cy="luigi-alert-text"
              />
              With text (if alert has no text it is not displayed)
            </label>
          </div>
          <div class="fd-form__item">
            <label class="fd-form__label" for="input-1">Message ID
                <span class="fd-inline-help fd-has-float-right">
                  <span class="fd-inline-help__content fd-inline-help__content--bottom-left">
                    This is a string used to identify Alerts in a queue.
                    <br>
                    It is invisible to user and lets the developer know (via Luigi API) which Alert has been closed.
                  </span>
                </span>
            </label>
            <input 
              [ngModel]="" 
              class="fd-form__control" 
              type="text" 
              name="id"
              placeholder="Leave it empty to let Luigi assign a random ID" 
            />
          </div>     
          <div class="fd-form__item">
            <label class="fd-form__label" for="input-1">Close after (ms)
            </label>
            <input 
              [ngModel]="" 
              class="fd-form__control" 
              type="text" 
              name="closeAfter"
              placeholder="Leave it empty to never close this Alert automatically" 
            />
          </div>
       </div>
      </form>
      <button
      
        class="fd-button"
        data-cy="show-luigi-alert"
        (click)="showAlert()"
      >
        Show Luigi alert
      </button>
      <p>
        <app-code-snippet
          data="uxManager().showAlert(settings)"
        ></app-code-snippet>
      </p>
      <p
        *ngIf="lastDismissedAlert"
        class="fd-has-font-style-italic fd-has-color-status-1"
        data-cy="luigi-alert-result"
      >
        Luigi alert with id {{lastDismissedAlert}} has been dismissed
      </p>
    </div>
    <div class="fd-panel fd-has-margin-bottom-small">
      <p>
        <strong
          >Combine unsaved changes feature with Luigi Client UX manager
          methods!!</strong
        >
      </p>
      <div class="fd-form__item fd-form__item--check">
        <label class="fd-form__label" for="ImBw4551">
          <span class="fd-toggle fd-toggle--xs fd-form__control">
            <input
              type="checkbox"
              [(ngModel)]="isDirty"
              (change)="sendDirtyEvent()"
              id="ImBw4551"
            />
            <span
              class="fd-toggle__switch"
              role="presentation"
              data-cy="toggle-dirty-state"
            ></span>
          </span>
        </label>
      </div>
      <span *ngIf="!isDirty">
        <strong>There are no unsaved changes</strong> &nbsp;&ndash; toggle this
        to be asked for confirmation when you leave this page
      </span>
      <span *ngIf="isDirty">
        <strong>There are unsaved changes</strong> &nbsp;&ndash; a confirmation
        modal will appear when you navigate
        <a
          title="Navigate to /projects/pr2 as an example"
          (click)="linkManager().navigate('/projects/pr2')"
        >
          somewhere else
        </a>
      </span>
    </div>
  </div>

  <div class="link-manager" [hidden]="projectId !== 'pr2'">
    <div class="fd-section__header">
      <h1 class="fd-section__title">LuigiClient linkManager methods</h1>
    </div>
    <ng-container *ngIf="preservedViewCallbackContext">
      <div class="fd-panel fd-has-margin-bottom-small">
        <div class="fd-alert" role="alert">
          <span class="fd-status-label fd-status-label--available"></span>
          Context received from linkManager().goBack():<br />
          <pre>{{ preservedViewCallbackContext | json }}</pre>
        </div>
      </div>
    </ng-container>
    <div class="fd-panel fd-has-margin-bottom-small">
      <p><strong>Navigate</strong></p>
      <ul class="fd-list-group">
        <li class="fd-list-group__item">
          <a
            href="javascript:void(0)"
            (click)="linkManager().navigate('/overview')"
            >absolute: to overview</a
          >
          <app-code-snippet
            data="linkManager().navigate('/overview')"
          ></app-code-snippet>
        </li>
        <li class="fd-list-group__item">
          <a
            href="javascript:void(0)"
            (click)="linkManager().navigate('users/groups/stakeholders')"
            >relative: to stakeholders</a
          >
          <app-code-snippet
            data="linkManager().navigate('users/groups/stakeholders')"
          ></app-code-snippet>
        </li>
        <li class="fd-list-group__item">
          <a
            href="javascript:void(0)"
            (click)="
              linkManager()
                .fromClosestContext()
                .navigate('/users/groups/stakeholders')
            "
          >
            closest parent: to stakeholders</a
          >
          <app-code-snippet
            data="linkManager().fromClosestContext().navigate('/users/groups/stakeholders')"
          >
          </app-code-snippet>
        </li>
        <li class="fd-list-group__item">
          <a
            href="javascript:void(0)"
            (click)="
              linkManager()
                .fromContext('project')
                .navigate('/settings')
            "
          >
            parent by name: project to settings</a
          >
          <app-code-snippet
            data="linkManager().fromContext('project').navigate('/settings')"
          ></app-code-snippet>
        </li>
        <li class="fd-list-group__item">
          <a
            href="javascript:void(0)"
            (click)="
              linkManager()
                .fromClosestContext()
                .withParams({ foo: 'bar' })
                .navigate('settings')
            "
          >
            project to settings with params (foo=bar)</a
          >
          <app-code-snippet
            data="linkManager().fromClosestContext().withParams({foo: 'bar'}).navigate('settings')"
          >
          </app-code-snippet>
        </li>
        <li class="fd-list-group__item">
          <a
            href="javascript:void(0)"
            (click)="
              linkManager()
                .fromContext('NONEXISTING')
                .navigate('/settings')
            "
          >
            parent by name: with nonexisting context</a
          >
          (look at the console)
          <app-code-snippet
            data="linkManager().fromContext('NONEXISTING').navigate('/settings')"
          ></app-code-snippet>
        </li>
        <li class="fd-list-group__item">
          <a
            href="javascript:void(0)"
            (click)="navigateAndShowAlert()"
          >
            with preserved view: project to global settings and back</a
          >
          <app-code-snippet
            data="linkManager().navigate('/settings', null, true)"
          ></app-code-snippet>
        </li>
        <li class="fd-list-group__item">
          <a
            href="javascript:void(0)"
            (click)="
              linkManager()
                .withParams({ test: true })
                .navigate('/settings', null, true)
            "
          >
            extended preserved view example with params: project to global
            settings and back</a
          >
          <app-code-snippet
            data="linkManager().withParams({test: true}).navigate('/settings', null, true)"
          >
          </app-code-snippet>
        </li>
        <li class="fd-list-group__item">
          <a
            href="javascript:void(0)"
            (click)="
              linkManager()
                .withParams({ test: true })
                .openAsModal('/settings', {
                  title: 'Preserved View',
                  size: 'm'
                })
            "
          >
            extended preserved view example with params rendered in a modal:
            project to global settings and back</a
          >
          <app-code-snippet
            data="linkManager().withParams({test: true}).openAsModal('/settings', {title:'PreservedView', size:'m'})"
          >
          </app-code-snippet>
        </li>
      </ul>
    </div>

    <div class="fd-panel fd-has-margin-bottom-small check-path">
      <p><strong>Check if path exists</strong></p>
      <app-code-snippet
        data="linkManager().pathExists('{{ pathExists.formValue }}')"
      ></app-code-snippet>
      <span>
        <input
          type="text"
          [(ngModel)]="pathExists.formValue"
          (input)="resetPathExistsResult()"
        />
        <button class="fd-button" (click)="checkIfPathExists()">Check</button>
      </span>
      <p class="check-path-result">
        <ng-container *ngIf="pathExists.result === true">
          Path {{ pathExists.formValue }} exists!
        </ng-container>
        <ng-container *ngIf="pathExists.result === false">
          Path {{ pathExists.formValue }} does not exist!
        </ng-container>
      </p>
    </div>

    <div class="fd-panel">
      <p>
        <strong>LuigiClient - wrong paths in linkManager.navigate():</strong>
      </p>
      <ul class="fd-list-group">
        <li class="fd-list-group__item">
          <a
            href="javascript:void(0)"
            (click)="
              linkManager().navigate('/projects/pr2/miscellaneous2/maskopatol')
            "
            >Partly wrong link
          </a>
          <app-code-snippet
            data="linkManager().navigate('/projects/pr2/miscellaneous2/maskopatol')"
          ></app-code-snippet>
        </li>
        <li class="fd-list-group__item">
          <a
            href="javascript:void(0)"
            (click)="linkManager().navigate('/maskopatol/has/a/child')"
            >Totally wrong link</a
          >
          <app-code-snippet
            data="linkManager().navigate('/maskopatol/has/a/child')"
          ></app-code-snippet>
        </li>
      </ul>
    </div>
  </div>
</section>

<app-modal
  [hidden]="projectId !== 'pr1'"
  [modalActive]="modalActive"
  (modalClosed)="toggleModal()"
></app-modal>
