/node_modules/
/public/bundle.js
/public/bundle.js.map
/public/bundle.d.ts
/public/bundle.d.ts.map
/test-app/bundle.js
/test-app/bundle.js.map
/test-app/luigi-element.js

/public/**/*.ts

/coverage
.DS_Store
