.p-header {
  .cnt {
    border-bottom: 1px solid $border-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;

    @media only screen and (min-width: map-get($breakpoints, 'l')) {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }

  .logo {
    img {
      display: block;
      width: 74px;
      height: 30px;

      @media only screen and (min-width: map-get($breakpoints, 'l')) {
        width: 148px;
        height: 60px;
      }
    }
  }

  .social-links {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    .item {
      margin-left: 25px;

      a {
        font-size: 24px;
        color: white;
        transition: color 0.3s ease;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}
