$fd-icons-path: "~fundamental-ui/scss/icons/";
$left-nav-width: 320px;

@import '~fundamental-ui/scss/icons';
@import '~fundamental-ui/scss/layout/overlay';
@import '~fundamental-ui/scss/components/modal';
@import '~fundamental-ui/scss/components/button';

.fd-overlay--modal {
  width: calc(100% - #{$left-nav-width});
}
