# npm
node_modules


# IDEs
.idea
.angulardoc.json
.vscode/diff
.vscode/settings.json
.vs

.changelog

# temporary files and folders
tmp-*
container/cypress/videos
container/cypress/screenshots

# WhiteSource
whitesource.config.json
plugin*.js
core/dev-tools/latest_build.log
core/dev-tools/simple-app
core-modular/dev-tools/simple-app
/full_eslint_report.html
test/e2e-test-application/cypress/screenshots
**/.DS_Store
