# npm
node_modules


# IDEs
.idea
.angulardoc.json
.vscode/diff
.vscode/settings.json

# Lerna
lerna-debug.log

.changelog

# temporary files and folders
tmp-*

# WhiteSource
whitesource.config.json
plugin*.js
core/dev-tools/latest_build.log
core/dev-tools/simple-app
/full_eslint_report.html
