language: node_js
node_js:
  - '11.14' #TODO: change it to 'node' once Travis supports the newest version
dist: xenial
cache:
  directories:
    - $TRAVIS_BUILD_DIR/client/public
    - $TRAVIS_BUILD_DIR/core/public
    - $TRAVIS_BUILD_DIR/plugins/auth/public/auth-oauth2
    - $TRAVIS_BUILD_DIR/plugins/auth/public/auth-oidc
    - $TRAVIS_BUILD_DIR/test/e2e-test-application/dist
    - $TRAVIS_BUILD_DIR/cypress-binary-cache
    - $HOME/.cache/Cypress
notifications:
  slack:
    secure: wiOchVgoiKNUikjCeIhsuv3Y5jolFud6ercdZdO3+JigQqkmoAC95f2jKTYEdplJWyJr8JY6z0+UJNceHyr5YJx/l1wpm6Zq+3H4dq/V0yUXH1uhw2eaTzweX2vjfw0bzewEdc1CGl4kSfdyTajnbKgt+mtnrAV9lPqiXYSOOJTu5BCFomi7u2GhAz1JjBK6P4Ar2jXm+oc81nYjj40P8bZFlA7Rjm0hNN42MMkKvnD8OHztL3EwezKHXlQW7fN4eOrhPOMbT3NRU72g9Nir+lfoKJlch1zPoHXQ7DRp41uGyHV/qfvfRLzXwxftZK6kdvzMe0eI0i1aIm0R6AE0bLphB2o/klJzyQpqSiQgETTH0qJN+3px2kddGrw7Me+UNC/1zZrt1MJfWf0h6WjXTsPDJf3ajLsn8OoIeBTRZbAb9as3UWQZcknuuMf8oGUzZkrZNMWYqo3py0+qWm4wSbWXWVUCgVAIYA6oEADwq37z59HySGkyHI4gEPzxsYODfCuvO4pJX1h4vEyH7w2IigwhDAPq5G4Vdez9ZFS96p/LSCF+iH8yWMy294u8wk5ofWUutFFv0JC45LQBXu51a2TeQkalwVn4DiuxxHE6jZieREw75YFjra4jpWsyziWkzshGT75NCra6cKAbNa4T8n6Pm3ogjEPeeWAO3psgSdo=
jobs:
  include:
    - stage: 'Precache & Unit Tests'
      script:
        - export CYPRESS_CACHE_FOLDER=$TRAVIS_BUILD_DIR/cypress-binary-cache
        - npm i -g lerna
        - lerna bootstrap --ci --ignore "*luigi-example*" || travis_terminate 1
        - lerna run bundle --ignore "*luigi-example*" || travis_terminate 1
        - lerna run bundlesizeOnly --ignore "*luigi-example*" || travis_terminate 1
        - head $TRAVIS_BUILD_DIR/test/e2e-test-application/node_modules/@luigi-project/client/package.json
        - lerna run build --ignore "*luigi-example*" || travis_terminate 1
        - npm test --prefix core || travis_terminate 1
      before_cache:
        - rm -rf ~/.npm/_logs
        - rm -rf ~/.npm/_cacache
        - rm -rf $TRAVIS_BUILD_DIR/website
        - rm -rf $TRAVIS_BUILD_DIR/core/examples/luigi-example-vue

    #----- DOCU -----
    - stage: 'Documentation & Tests'
      name: 'Check Documentation'
      script:
        - cd $TRAVIS_BUILD_DIR/scripts && npm ci
        - cd $TRAVIS_BUILD_DIR && bash ./scripts/docuCheck.sh
      before_cache:
        - rm -rf ~/.npm/_logs
        - rm -rf ~/.npm/_cacache

    #----- WHITESOURCE -----
    - name: 'Whitesource check'
      if: repo = SAP/luigi AND (branch = master)
      script:
        - 'if [ ! -z "${WHITESOURCE_APIKEY}" ]; then
            npm --prefix ./website/landingpage/dev install ./website/landingpage/dev;
            npm --prefix ./website/fiddle install ./website/fiddle;
            lerna bootstrap --ci --ignore "*luigi-example-vue";
            npm i -g whitesource;
            bash ./scripts/whiteSource.sh;
          fi'
      before_cache:
        - rm -rf ~/.npm/_logs
        - rm -rf ~/.npm/_cacache

    # ----- INTEGRATION -----
    - &integration-testing
      name: 'Integration Testing 1'
      script:
        - export CYPRESS_CACHE_FOLDER=$TRAVIS_BUILD_DIR/cypress-binary-cache
        - ls $CYPRESS_CACHE_FOLDER
        - bash ./test/e2e.sh
      addons:
        apt:
          packages:
            # Ubuntu 16+ does not install this dependency by default, so we need to install it ourselves
            - libgconf-2-4
            #- chromium-browser=79.0.3945.130-0ubuntu0.16.04.1 # update also if you upgrade from Xenial
        chrome: beta
      before_install:
        #- chromium-browser --headless --disable-gpu --remote-debugging-port=9222 http://localhost &
        - google-chrome-beta --headless --disable-gpu --remote-debugging-port=9222 http://localhost &
      before_cache:
        - rm -rf ~/.npm/_logs
        - rm -rf ~/.npm/_cacache
        - rm -rf ~/.cache/Cypress/cy/production/browsers #it is individual for each run anyway so caching it slows down the job
    - name: 'Integration Testing 2'
      <<: *integration-testing
    - name: 'Integration Testing 3'
      <<: *integration-testing

    # ----- NPM PUBLISH -----
    - stage: 'Publish'
      name: 'Publish to NPM'
      # run only when merging from release-v branch to master
      # if: repo = SAP/luigi AND branch = master
      if: repo = SAP/luigi AND (branch = master OR branch ~= ^release-v)
      script:
        - bash ./scripts/npmPublish.sh
      before_cache:
        - rm -rf ~/.npm/_logs
        - rm -rf ~/.npm/_cacache
