# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/public/luigi-client
/public/luigi-core
/public/fundamental-styles
/public/fonts
/public/luigi-config.js
