$mobileMinWidth: 320px;
$desktopMinWidth: 600px;
$desktopMaxWidth: 900px;
$topNavHeight: 44px;
$topNavHeightTab: 44px;
$leftNavWidthCollapsed: 2.75rem;
$globalNavWidth: 43px;
$zindex-dialog-box: 1000;