$mobileMinWidth: 375px;
$desktopMinWidth: 600px;
$desktopMaxWidth: 900px;
$topNavHeight: var(--luigi__shellbar--height);
$combinedLayoutGap: 1rem;
$leftNavWidthCollapsed: var(--luigi__leftnav_collapsed--width, 2.75rem);
$zindex-dialog-box: 1000;
$globalNavWidth: 69px;
$navHeaderHeight: 3.25rem;
$spinnerOpacity: opacity 0.25s;