$mobileMinWidth: 320px;
$desktopMinWidth: 600px;
$desktopMaxWidth: 900px;
$topNavHeight: 44px;
$topNavHeightTab: 44px;
$leftNavWidthCollapsed: 2.75rem;
$zindex-dialog-box: 1000;
$globalNavWidth: 69px;
