$mobileMinWidth: 375px;
$desktopMinWidth: 600px;
$desktopMaxWidth: 900px;
$topNavHeight: 2.75rem;
$topNavHeightTab: 2.75rem;
$leftNavWidthCollapsed: 2.75rem;
$zindex-dialog-box: 1000;
$globalNavWidth: 69px;
$navHeaderHeight: 3.25rem;
