
@import 'fundamental-styles/dist/tool-layout.css';
@import 'fundamental-styles/dist/tool-header.css';
@import 'fundamental-styles/dist/navigation.css';
@import 'fundamental-styles/dist/search-field.css';
  
.fd-tool-layout {
  .fd-shellbar {
      border-radius: var(--sapToolHeader_Border_Radius);
  }

  .fd-app__sidebar {
      border-radius: var(--fdNavigation_Border_Radius);
      padding-top: 0.5rem;
      background: var(--sapNavigation_Background);
  }
}

body:not(.semiCollapsed) .fd-tool-layout.fd-tool-layout .fd-app__sidebar.fd-app__sidebar .fd-side-nav.lui-nav-header-visible {
  top: calc(3.25rem + 0.5rem);
}

.btp-layout {
  .fd-shellbar__title.lui-has-apps > span::after {
    content: "\23D0";
    color: var(--sapGroup_TitleBorderColor);
    position: absolute;
    top: -.5em;
    padding-left: 0.3em;
    font-size: 2em;
  }

  .fd-shellbar__group--product > .fd-shellbar__title.lui-has-apps {
    padding-right: 1.25rem;
  }

  .fd-shellbar__group--product > .lui-keep-main:not(.lui-sat) {
    margin-left: -.5rem;
  }
}