/* Write your global styles here; in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
@use 'fundamental-styles/dist/icon.css';
@use 'fundamental-styles/dist/layout.css';
@use 'fundamental-styles/dist/action-bar.css';
// './node_modules/fundamental-styles/dist/alert.css';
//'./node_modules/fundamental-styles/dist/file-uploader.css';
@use 'fundamental-styles/dist/avatar.css';
//'./node_modules/fundamental-styles/dist/badge.css';
@use 'fundamental-styles/dist/bar.css';
//'./node_modules/fundamental-styles/dist/breadcrumb.css';
@use 'fundamental-styles/dist/busy-indicator.css';
@use 'fundamental-styles/dist/button.css';
//'./node_modules/fundamental-styles/dist/button-split.css';
//'./node_modules/fundamental-styles/dist/calendar.css';
// './node_modules/fundamental-styles/dist/checkbox.css';
@use 'fundamental-styles/dist/counter.css';
@use 'fundamental-styles/dist/dialog.css';
//'./node_modules/fundamental-styles/dist/fieldset.css';
@use 'fundamental-styles/dist/form-group.css';
@use 'fundamental-styles/dist/form-item.css';
@use 'fundamental-styles/dist/form-label.css';
//'./node_modules/fundamental-styles/dist/form-message.css';
@use 'fundamental-styles/dist/form-layout-grid.css';
//'./node_modules/fundamental-styles/dist/inline-help.css';
@use 'fundamental-styles/dist/input.css';
@use 'fundamental-styles/dist/input-group.css';
//'./node_modules/fundamental-styles/dist/info-label.css';
@use 'fundamental-styles/dist/layout-grid.css';
//'./node_modules/fundamental-styles/dist/layout-panel.css';
@use 'fundamental-styles/dist/link.css';
@use 'fundamental-styles/dist/list.css';
//'./node_modules/fundamental-styles/dist/localization-editor.css';
@use 'fundamental-styles/dist/menu.css';
@use 'fundamental-styles/dist/message-box.css';
@use 'fundamental-styles/dist/message-strip.css';
//'./node_modules/fundamental-styles/dist/message-toast.css';
//'./node_modules/fundamental-styles/dist/notification.css';
//'./node_modules/fundamental-styles/dist/numeric-content.css';
@use 'fundamental-styles/dist/object-status.css';
@use 'fundamental-styles/dist/page.css';
//'./node_modules/fundamental-styles/dist/pagination.css';
//'./node_modules/fundamental-styles/dist/panel.css';
@use 'fundamental-styles/dist/popover.css';
@use 'fundamental-styles/dist/product-switch.css';
// './node_modules/fundamental-styles/dist/radio.css';
//'./node_modules/fundamental-styles/dist/section.css';
@use 'fundamental-styles/dist/segmented-button.css';
@use 'fundamental-styles/dist/select.css';
@use 'fundamental-styles/dist/settings.css';
@use 'fundamental-styles/dist/shellbar.css';
@use 'fundamental-styles/dist/side-nav.css';
@use 'fundamental-styles/dist/navigation.css';
@use 'fundamental-styles/dist/navigation-list.css';
@use 'fundamental-styles/dist/navigation-menu.css';
@use 'fundamental-styles/dist/switch.css';
//'./node_modules/fundamental-styles/dist/step-input.css'
//'./node_modules/fundamental-styles/dist/table.css';
@use 'fundamental-styles/dist/icon-tab-bar.css';
// './node_modules/fundamental-styles/dist/textarea.css';
//'./node_modules/fundamental-styles/dist/tile.css';
//'./node_modules/fundamental-styles/dist/time.css';
@use 'fundamental-styles/dist/title.css';
//'./node_modules/fundamental-styles/dist/token.css';
//'./node_modules/fundamental-styles/dist/tokenizer.css';
@use 'fundamental-styles/dist/toolbar.css';
//'./node_modules/fundamental-styles/dist/tree.css';
@use 'fundamental-styles/dist/helpers.css';
@use 'fundamental-styles/dist/user-menu.css';

/** 
    #####################################
    ## fd fixes
    #####################################
*/
.fd-side-nav--condensed .fd-nested-list__content.has-child:after, .fd-side-nav--condensed .fd-nested-list__link.has-child:after {
    border-color: transparent var(--sapContent_IconColor) transparent transparent;
    border-style: solid;
    border-width: .375rem .375rem 0 0;
    bottom: 0;
    content: "";
    margin-bottom: .0625rem;
    margin-right: .125rem;
    min-height: 0;
    min-width: 0;
    position: absolute;
    right: 0;
}

.fd-side-nav--condensed .fd-nested-list__content.has-child, .fd-side-nav--condensed .fd-nested-list__link.has-child {
    position: relative;
}
