@import '@sap-theming/theming-base-content/content/Base/baseLib/sap_fiori_3/css_variables.css';
@import 'fundamental-styles/dist/theming/sap_fiori_3.css';

// TODO: remove later, not supported in fiori_3
@import './btp_tool_layout.scss';


@font-face {
  font-family: 'SAP-icons';
  src: url('@sap-theming/theming-base-content/content/Base/baseLib/baseTheme/fonts/SAP-icons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SAP-icons';
  src: url('@sap-theming/theming-base-content/content/Base/baseLib/baseTheme/fonts/SAP-icons.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}