<section class="fd-section">
  <div *ngIf="projectId === 'pr1'">
    <div class="fd-section__header">
      <h1 class="fd-section__title">LuigiClient uxManager methods</h1>
    </div>
    <div class="fd-layout-panel fd-has-margin-bottom-small">
      <div class="fd-layout-panel__header">
        <div class="fd-layout-panel__head">
          <h3 class="fd-layout-panel__title">Backdrop</h3>
        </div>
      </div>
      <div class="fd-layout-panel__body">
        <button
          class="fd-button"
          data-testid="add-backdrop"
          (click)="toggleModal()"
        >
          Add backdrop
        </button>
        <p>
          <app-code-snippet data="uxManager().addBackdrop()"></app-code-snippet>
          <app-code-snippet
            data="uxManager().removeBackdrop()"
          ></app-code-snippet>
        </p>
      </div>
    </div>
    <div class="fd-layout-panel fd-has-margin-bottom-small">
      <div class="fd-layout-panel__header">
        <div class="fd-layout-panel__head">
          <h3 class="fd-layout-panel__title">Confirmation modal</h3>
        </div>
      </div>
      <div class="fd-layout-panel__body">
        <button
          class="fd-button"
          data-testid="show-luigi-confirmation-modal"
          (click)="showConfirmationModal()"
        >
          Show Luigi confirmation modal
        </button>
        <p>
          <app-code-snippet
            data="uxManager().showConfirmationModal(content)"
          ></app-code-snippet>
        </p>
        <p
          class="fd-has-font-style-italic"
          data-testid="luigi-confirmation-modal-result"
          ngClass="{{
            confirmationModalResult === 'confirmed'
              ? 'fd-has-color-status-1'
              : 'fd-has-color-status-2'
          }}"
          *ngIf="confirmationModalResult"
        >
          Luigi confirmation modal has been {{ confirmationModalResult }}
        </p>
      </div>
    </div>

    <div class="fd-layout-panel fd-has-margin-bottom-small">
      <div class="fd-layout-panel__header">
        <div class="fd-layout-panel__head">
          <h3 class="fd-layout-panel__title">Alert</h3>
        </div>
      </div>
      <div class="fd-layout-panel__body">
        <form #luigiAlertForm="ngForm">
          <div class="fd-form__set fd-has-padding-bottom-small">
            <div class="fd-form-item">
              <label class="fd-form-label" for="select-1">Type:</label>
              <select
                [ngModel]="alertTypes[0]"
                class="fd-form-select"
                id="select-1"
                name="type"
                data-testid="luigi-alert-type"
              >
                <option [value]="type" *ngFor="let type of alertTypes">
                  {{ type }}
                </option>
              </select>
            </div>
            <div class="fd-form-item">
              <input
                [ngModel]="true"
                type="checkbox"
                name="links"
                class="fd-checkbox"
                id="checkbox-1"
                data-testid="luigi-alert-links"
              />
              <label class="fd-checkbox__label" for="checkbox-1">Links</label>
            </div>
            <div class="fd-form-item">
              <input
                [ngModel]="true"
                type="checkbox"
                name="text"
                class="fd-checkbox"
                id="checkbox-2"
                data-testid="luigi-alert-text"
              />
              <label class="fd-checkbox__label" for="checkbox-2">
                With text (if alert has no text it is not displayed)
              </label>
            </div>
            <div class="fd-form-item">
              <label class="fd-form-label" for="input-1"
                >Close after (ms):
              </label>
              <input
                [ngModel]=""
                class="fd-input"
                type="text"
                name="closeAfter"
                placeholder="Leave it empty to never close this Alert automatically"
                data-testid="luigi-alert-close-after"
              />
            </div>
          </div>
        </form>
        <button
          class="fd-button"
          data-testid="show-luigi-alert"
          (click)="showAlert()"
        >
          Show Luigi alert
        </button>
        <p>
          <app-code-snippet
            data="uxManager().showAlert(settings)"
          ></app-code-snippet>
        </p>
        <p
          *ngIf="alertDismissed"
          class="fd-has-font-style-italic fd-has-color-status-1"
          data-testid="luigi-alert-result"
        >
          Luigi alert has been dismissed
        </p>
      </div>
    </div>

    <div class="fd-layout-panel fd-has-margin-bottom-small">
      <div class="fd-layout-panel__header">
        <div class="fd-layout-panel__head">
          <h3 class="fd-layout-panel__title">Localization</h3>
        </div>
      </div>
      <div class="fd-layout-panel__body">
        <div class="fd-form-item">
          <label class="fd-form-label" data-testid="luigi-current-locale">
            Current locale is: '{{ currentLocale }}'
          </label>
          <p class="fd-has-margin-bottom-s">
            <app-code-snippet
              data="uxManager().getCurrentLocale()"
            ></app-code-snippet>
          </p>
        </div>
        <div class="fd-container ">
          <form #luigiLocalizationForm="ngForm" class="fd-col--3">
            <div class="fd-form-item">
              <label class="fd-form-label" for="locale">Locale:</label>
              <input
                [ngModel]=""
                class="fd-input"
                type="text"
                name="locale"
                placeholder=""
                data-testid="luigi-input-locale"
                [disabled]="!canChangeLocale"
              />
            </div>
          </form>
        </div>
        <button
          class="fd-button"
          data-testid="set-current-locale"
          (click)="setCurrentLocale()"
          [disabled]="!canChangeLocale"
        >
          Set Current Locale
        </button>
        <p>
          <app-code-snippet
            data="uxManager().setCurrentLocale(locale)"
          ></app-code-snippet>
        </p>
      </div>
    </div>

    <div class="fd-layout-panel fd-has-margin-bottom-small">
      <div class="fd-layout-panel__header">
        <div class="fd-layout-panel__head">
          <h3 class="fd-layout-panel__title">
            Combine unsaved changes feature with Luigi Client UX manager
            methods!!
          </h3>
        </div>
      </div>
      <div class="fd-layout-panel__body">
        <div class="fd-form-item">
          <label class="fd-switch__label" for="ImBw4551">
            <span class="fd-switch fd-switch--compact">
              <input
                type="checkbox"
                class="fd-switch__input"
                [(ngModel)]="isDirty"
                (change)="sendDirtyEvent()"
                id="ImBw4551"
              />
              <div class="fd-switch__wrapper">
                <div class="fd-switch__track">
                  <span
                    class="fd-switch__handle"
                    role="presentation"
                    data-testid="toggle-dirty-state"
                  ></span>
                </div>
              </div>
            </span>
          </label>
        </div>
        <span *ngIf="!isDirty">
          <strong>There are no unsaved changes</strong> &nbsp;&ndash; toggle
          this to be asked for confirmation when you leave this page
        </span>
        <span *ngIf="isDirty">
          <strong>There are unsaved changes</strong> &nbsp;&ndash; a
          confirmation modal will appear when you navigate
          <a
            title="Navigate to /projects/pr2 as an example"
            (click)="linkManager().navigate('/projects/pr2')"
          >
            somewhere else
          </a>
        </span>
      </div>
    </div>
  </div>

  <div
    class="link-manager"
    *ngIf="projectId && projectId !== 'pr1' && projectId.indexOf('pr') === 0"
  >
    <div class="fd-section__header">
      <h1 class="fd-section__title">LuigiClient linkManager methods</h1>
    </div>
    <ng-container *ngIf="preservedViewCallbackContext">
      <div class="fd-layout-panel fd-has-margin-bottom-small">
        <div class="fd-layout-panel__body">
          <div class="fd-message-strip" role="alert">
            <div class="fd-message-strip__text">
              Context received from linkManager().goBack():<br />
              <pre>{{ preservedViewCallbackContext | json }}</pre>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <div class="fd-layout-panel fd-has-margin-bottom-small">
      <div class="fd-layout-panel__header">
        <div class="fd-layout-panel__head">
          <h3 class="fd-layout-panel__title">Navigate</h3>
        </div>
      </div>
      <div class="fd-layout-panel__body">
        <ul class="fd-list">
          <li class="fd-list__item">
            <a
              href="javascript:void(0)"
              class="fd-link"
              (click)="linkManager().navigate('/overview')"
              >absolute: to overview</a
            >
            <app-code-snippet
              data="linkManager().navigate('/overview')"
            ></app-code-snippet>
          </li>
          <li class="fd-list__item">
            <a
              href="javascript:void(0)"
              class="fd-link"
              (click)="linkManager().navigate('users/groups/stakeholders')"
              >relative: to stakeholders</a
            >
            <app-code-snippet
              data="linkManager().navigate('users/groups/stakeholders')"
            ></app-code-snippet>
          </li>
          <li class="fd-list__item">
            <a
              href="javascript:void(0)"
              class="fd-link"
              (click)="
                linkManager().navigate('/projects/pr1/settings_ft?ft=ft1')
              "
              >FeatureToggle</a
            >
            <app-code-snippet
              data="linkManager().navigate('/projects/pr1/settings_ft?ft=ft1')"
            ></app-code-snippet>
          </li>
          <li class="fd-list__item">
            <a
              href="javascript:void(0)"
              class="fd-link"
              (click)="
                linkManager()
                  .fromClosestContext()
                  .navigate('/users/groups/stakeholders')
              "
            >
              closest parent: to stakeholders</a
            >
            <app-code-snippet
              data="linkManager().fromClosestContext().navigate('/users/groups/stakeholders')"
            >
            </app-code-snippet>
          </li>
          <li class="fd-list__item">
            <a
              href="javascript:void(0)"
              class="fd-link"
              (click)="
                linkManager()
                  .fromParent()
                  .navigate('/pr1')
              "
            >
              from parent: to sibling</a
            >
            <app-code-snippet
              data="linkManager().fromParent().navigate('/pr1')"
            >
            </app-code-snippet>
          </li>
          <li class="fd-list__item">
            <a
              href="javascript:void(0)"
              class="fd-link"
              (click)="
                linkManager()
                  .fromContext('project')
                  .navigate('/settings')
              "
            >
              parent by name: project to settings</a
            >
            <app-code-snippet
              data="linkManager().fromContext('project').navigate('/settings')"
            ></app-code-snippet>
          </li>
          <li class="fd-list__item">
            <a
              href="javascript:void(0)"
              class="fd-link"
              (click)="
                linkManager()
                  .fromClosestContext()
                  .withParams({ foo: 'bar' })
                  .navigate('settings')
              "
            >
              project to settings with params (foo=bar)</a
            >
            <app-code-snippet
              data="linkManager().fromClosestContext().withParams({foo: 'bar'}).navigate('settings')"
            >
            </app-code-snippet>
          </li>
          <li class="fd-list__item">
            <a
              href="javascript:void(0)"
              class="fd-link"
              (click)="
                linkManager()
                  .fromClosestContext()
                  .withParams({ feature: 'toggle' })
                  .navigate('settings_ft?ft=ft1')
              "
            >
              project to settings with params (foo=bar) and FeatureToggle</a
            >
            <app-code-snippet
              data="linkManager().fromClosestContext().withParams({feature: 'toggle'}).navigate('settings_ft?ft=ft1')"
            >
            </app-code-snippet>
          </li>
          <li class="fd-list__item">
            <a
              href="javascript:void(0)"
              class="fd-link"
              (click)="
                linkManager()
                  .fromContext('NONEXISTING')
                  .navigate('/settings')
              "
            >
              parent by name: with nonexisting context</a
            >
            (look at the console)
            <app-code-snippet
              data="linkManager().fromContext('NONEXISTING').navigate('/settings')"
            ></app-code-snippet>
          </li>
          <li class="fd-list__item">
            <a
              href="javascript:void(0)"
              class="fd-link"
              (click)="navigateAndShowAlert()"
            >
              with preserved view: project to global settings and back</a
            >
            <app-code-snippet
              data="linkManager().navigate('/settings', null, true)"
            ></app-code-snippet>
          </li>
          <li class="fd-list__item">
            <a
              href="javascript:void(0)"
              class="fd-link"
              (click)="
                linkManager()
                  .withParams({ test: true })
                  .navigate('/settings', null, true)
              "
            >
              extended preserved view example with params: project to global
              settings and back</a
            >
            <app-code-snippet
              data="linkManager().withParams({test: true}).navigate('/settings', null, true)"
            >
            </app-code-snippet>
          </li>
          <li class="fd-list__item">
            <a
              href="javascript:void(0)"
              class="fd-link"
              (click)="
                linkManager()
                  .withParams({ test: true })
                  .openAsModal('/settings', {
                    title: 'Preserved View',
                    size: 'm'
                  })
              "
            >
              extended preserved view example with params rendered in a modal:
              project to global settings and back</a
            >
            <app-code-snippet
              data="linkManager().withParams({test: true}).openAsModal('/settings', {title:'PreservedView', size:'m'})"
            >
            </app-code-snippet>
          </li>
          <li class="fd-list__item">
            <a
              href="javascript:void(0)"
              class="fd-link"
              (click)="openSplitView()"
            >
              open view in split view with params</a
            >
            <app-code-snippet
              data="linkManager().withParams({test: true}).openAsSplitView('/settings', {title:'Logs', size:25})"
            >
            </app-code-snippet>
            <div data-testid="split-view-controls">
              Control Split View:

              <button
                [disabled]="!splitViewHandle || !splitViewHandle.isCollapsed()"
                (click)="splitViewHandle.expand()"
                class="fd-button"
              >
                expand
              </button>
              <button
                [disabled]="!splitViewHandle || !splitViewHandle.isExpanded()"
                (click)="splitViewHandle.collapse()"
                class="fd-button"
              >
                collapse
              </button>
              <button
                [disabled]="!splitViewHandle || !splitViewHandle.isExpanded()"
                (click)="splitViewHandle.setSize(15)"
                class="fd-button"
              >
                setSize(15)
              </button>
              <button
                [disabled]="!splitViewHandle || !splitViewHandle.exists()"
                (click)="splitViewHandle.close()"
                class="fd-button"
              >
                close
              </button>
            </div>
          </li>
          <li class="fd-list__item">
            <a
              href="javascript:void(0)"
              class="fd-link"
              (click)="linkManager().goBack()"
            >
              go back: single iframe, standard history back</a
            >
            <app-code-snippet data="linkManager().goBack()"> </app-code-snippet>
          </li>
        </ul>
      </div>
    </div>

    <div class="fd-layout-panel fd-has-margin-bottom-small check-path">
      <div class="fd-layout-panel__header">
        <div class="fd-layout-panel__head">
          <h3 class="fd-layout-panel__title">Check if path exists</h3>
        </div>
      </div>
      <div class="fd-layout-panel__body">
        <p>
          <app-code-snippet
            data="linkManager().pathExists('{{ pathExists.formValue }}')"
          ></app-code-snippet>
        </p>
        <div class="fd-container fd-container--fluid">
          <div class="fd-col--4">
            <input
              type="text"
              class="fd-input fd-has-margin-none"
              [(ngModel)]="pathExists.formValue"
              (input)="resetPathExistsResult()"
            />
          </div>
          <div class="fd-col--8">
            <button class="fd-button" (click)="checkIfPathExists()">
              Check
            </button>
          </div>
        </div>
        <p class="check-path-result">
          <ng-container *ngIf="pathExists.result === true">
            Path {{ pathExists.formValue }} exists!
          </ng-container>
          <ng-container *ngIf="pathExists.result === false">
            Path {{ pathExists.formValue }} does not exist!
          </ng-container>
        </p>
      </div>
    </div>

    <div class="fd-layout-panel">
      <div class="fd-layout-panel__header">
        <div class="fd-layout-panel__head">
          <h3 class="fd-layout-panel__title">
            LuigiClient - wrong paths in linkManager.navigate():
          </h3>
        </div>
      </div>
      <div class="fd-layout-panel__body">
        <ul class="fd-list">
          <li class="fd-list__item">
            <a
              href="javascript:void(0)"
              class="fd-link"
              (click)="
                linkManager().navigate(
                  '/projects/pr2/miscellaneous2/maskopatol'
                )
              "
              >Partly wrong link
            </a>
            <app-code-snippet
              data="linkManager().navigate('/projects/pr2/miscellaneous2/maskopatol')"
            >
            </app-code-snippet>
          </li>
          <li class="fd-list__item">
            <a
              href="javascript:void(0)"
              class="fd-link"
              (click)="linkManager().navigate('/maskopatol/has/a/child')"
              >Totally wrong link</a
            >
            <app-code-snippet
              data="linkManager().navigate('/maskopatol/has/a/child')"
            ></app-code-snippet>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div *ngIf="projectId && projectId === 'tabNav'">
    <div class="fd-section__header">
      <h1 class="fd-section__title">Horizontal navigation</h1>
    </div>
    <div class="fd-layout-panel" title="visitors: {{ visitors }}">
      <div class="fd-layout-panel__body">
        <p>Horizontal navigation content</p>
      </div>
    </div>
  </div>
</section>

<app-modal
  *ngIf="projectId === 'pr1'"
  [modalActive]="modalActive"
  (modalClosed)="toggleModal()"
></app-modal>
