<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Luigi Simple React App</title>
  </head>

  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <!-- This file loads the react app built on index.js. The whole app bundle is then injected below through the HTMLWebpackPlugin configuration -->
    <!-- Note that this file acts as the microfrontend entrypoint whereas the index.html would be your Core App entrypoint -->
    <div id="root"></div>
  </body>
</html>
