<header class="fd-page__header">
  <div class="fd-action-bar">
    <div class="fd-action-bar__header">
      <h1 class="fd-action-bar__title">Luigi Angular Example</h1>
      <p class="fd-action-bar__description">
        Follow the links below to the Luigi feature demos.
      </p>
    </div>
  </div>
</header>

<section class="fd-section">
  <div class="fd-section__header">
    <h1 class="fd-section__title">LuigiClient Features</h1>
  </div>
  <div class="fd-panel">
    <ul class="fd-list-group">
      <li
        class="fd-list-group__item clickable"
        *ngFor="let item of luigiClientLinks"
        (click)="linkManager().navigate(item.link)"
      >
        <strong>{{ item.text }}</strong> &nbsp;&ndash; {{ item.description }}
      </li>
    </ul>
  </div>
</section>

<section class="fd-section">
  <div class="fd-section__header">
    <h1 class="fd-section__title">Luigi Core Features</h1>
  </div>
  <div class="fd-panel">
    <ul class="fd-list-group">
      <li
        class="fd-list-group__item clickable"
        *ngFor="let item of luigiCoreLinks"
        (click)="linkManager().navigate(item.link)"
      >
        <strong>{{ item.text }}</strong> &nbsp;&ndash; {{ item.description }}
      </li>
      <li class="fd-list-group__item ">
        <div class="fd-form__item fd-form__item--check">
          <label class="fd-form__label" for="ImBw4551">
            <span class="fd-toggle fd-toggle--xs fd-form__control">
              <input
                type="checkbox"
                [(ngModel)]="isDirty"
                (change)="sendDirtyEvent()"
                id="ImBw4551"
              />
              <span
                class="fd-toggle__switch"
                role="presentation"
                data-cy="toggle-dirty-state"
              ></span>
            </span>
          </label>
        </div>
        <span *ngIf="!isDirty">
          <strong>There are no unsaved changes</strong> &nbsp;&ndash; toggle
          this to be asked for confirmation when you leave this page
        </span>
        <span *ngIf="isDirty">
          <strong>There are unsaved changes</strong> &nbsp;&ndash; a
          confirmation modal will appear when you navigate
          <a
            title="Navigate to /projects/pr2 as an example"
            (click)="linkManager().navigate('/projects/pr2')"
          >
            somewhere else
          </a>
        </span>
      </li>
      <li class="fd-list-group__item clickable" (click)="updateBadgeCounters()">
        <strong>Update Header Navigation</strong> &nbsp;&ndash; Updates the top
        navigation, eg. to update badge counters
      </li>
    </ul>
  </div>
</section>
