{
  "presets": [
    "@babel/preset-env"
  ],
  "env": {
    "production": {
      "presets": [
        "minify"
      ]
    }
  },
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread"
  ]
}