html, body {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
}

.lui-wrapper {
	position: absolute;
	width: 100%;
	top: 64px;
	bottom: 0;
	right: 0;
	overflow: auto;
}

body > nav {
	z-index: 1;
	position: relative;
}

.hidden {
	display: none;
}

.lui-wrapper {
	display: none;
}

@font-face {
    font-family: "SAP-icons";
    src: url("https://unpkg.com/@sap-theming/theming-base-content/content/Base/baseLib/sap_horizon/fonts/SAP-icons.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}