<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <base href="/">
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <meta name="robots" content="noindex">
    
    <title>Error - Luigi</title>
    <meta name="description" content="Luigi is a micro frontend framework that enables you to create a unified user experience across a large set of functionality" />

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/img/favicon.png"
    />

    <link rel="stylesheet" href="/assets/css/app.css" />
  </head>
  <body class="has-dark-bg">
    {{> header-for-error-pages}} 
    
    {{> body}}

    <script src="/assets/js/app.js"></script>
  </body>
</html>
