<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{root}}assets/img/favicon.png"
    />

    <link rel="stylesheet" href="{{root}}assets/css/app.css" />
    <title>Luigi</title>
  </head>
  <body class="has-dark-bg">
    {{!-- Pages you create in the src/pages/ folder are inserted here when the
    flattened page is created. --}} 
    
    {{> header-for-error-pages}} 
    
    {{> body}}

    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>
