@media (max-width: 599px) {
  :host .fd-dialog__content:not(.fd-dialog__content--mobile) {
    max-width: 90%;
    min-width: 90%;
  }
}

@media (min-width: 600px) {
  .fd-dialog__content {
    max-width: 460px;
  }
}

.fd-dialog {
  z-index: 1000;
}
