html {
  font-family: $main-font-family;
}

body {
  &.p-dark {
    background-color: $primary-grey;
    color: white;
  }
}

section,
footer,
header {
  > .cnt {
    max-width: $page-width;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media only screen and (min-width: map-get($breakpoints, 'l')) {
    padding-left: 40px;
    padding-right: 40px;

    > .cnt {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &.has-no-padding {
    padding-left: 0;
    padding-right: 0;

    > .cnt {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
