
// keep in sync with core/src/utilities/constants.js CSS_BREAKPOINTS.desktopMinWidth
$desktopMinWidth: 600px;

$fd-search-closed-control-body-width: 220px;

#lui-search-button {
  position: relative;
  z-index: 2;
}
.algolia-autocomplete {
  display: block !important;
}
.fd-search-input__closedcontrol {
  width: $fd-search-closed-control-body-width;
  &[aria-hidden="true"],
  &.is-hidden {
    width: $fd-search-closed-control-body-width;
  }
}
.algolia-autocomplete .ds-dropdown-menu {
  margin-top: 10px;
}
.algolia-autocomplete .algolia-docsearch-suggestion--highlight {
  padding: 0em .05em;
}
.algolia-autocomplete .algolia-docsearch-footer {
  width: 100px;
  height: 15px;
}
@media screen and (max-width: $desktopMinWidth - 1px) {
  .luigi-documentation .fd-shellbar {
    background-color: #555;
  }

  .algolia-autocomplete.algolia-autocomplete-left .ds-dropdown-menu,
  .algolia-autocomplete.algolia-autocomplete-right .ds-dropdown-menu {
    position: fixed !important;
    top: 72px !important;
    left: 3vw !important;
    right: 3vw !important;
  }
  .algolia-autocomplete.algolia-autocomplete-left .ds-dropdown-menu:before {
    left: 60vw;
  }
  .algolia-autocomplete .ds-dropdown-menu [class^=ds-dataset-] {
    max-width: 94vw;
    max-height: 75vh;
    overflow-x: auto;
  }
}