<section class="fd-section" *ngIf="nodeParams">
  <div class="fd-panel">
    <div class="fd-alert" role="alert">
      <span class="fd-status-label fd-status-label--available"></span> Called with params:<br />
      <pre>{{ nodeParams | json }}</pre>
    </div>
  </div>
</section>

<section class="fd-section">
  <div class="fd-section__header">
    <h1 class="fd-section__title">Settings of {{ projectId }}</h1>
  </div>

  <div class="fd-panel">
    LuigiClient hasBack/GoBack:<br>

    <div *ngIf="hasBack">
      <p>
        <label>Modify goBackContext value, that you receive then via LuigiClient.addContextUpdateListener(): <br />
        <input type="text" [(ngModel)]="callbackValue" /></label>
      </p>
      <p>
      <button class="fd-button" (click)="goBack()">Click here</button> to go back to your preserved view.
      </p>
    </div>
    <div *ngIf="!hasBack">
      No go back state available, <a href="javascript:void(0)" (click)="luigiClient.linkManager().navigate('/projects/pr2')">Click here</a>
      to go to <i>project two</i>, where you can try out hasBack functionality
    </div>
</div>
</section>
