<p>
  settings of {{projectId}} works!
</p>

<div class="testSection">
  LuigiClient hasBack/GoBack:<br>

  <div *ngIf="hasBack">
    <a href="javascript:void(0)" (click)="goBack()">click here</a> to go back (with context: {{callbackValue}})
    <p>
      <label>Modify goBack callback value: <br />
      <input type="text" [(ngModel)]="callbackValue" /></label>
    </p>
  </div>
  <div *ngIf="!hasBack">
    No go back state available, <a href="javascript:void(0)" (click)="luigiClient.linkManager().navigate('/projects/pr2')">Click here</a>
    to go to <i>project two</i>, where you can try out hasBack functionality
  </div>
</div>