html,
body {
    margin: 0;
    position: relativ;
    height: 100%;
    background: var(--sapBackgroundColor);
}

ui5-side-navigation {
    min-height: 0;
}

.left-nav-hidden ui5-side-navigation,
.left-nav-hidden ui5-shellbar #toggle {
    display: none;
}

.left-nav-hidden .content {
    grid-column: 1 / span 2;
}

.ui5-tabcontainer-hidden {
    display: none;
}

.lui-dialog::part(header),
.lui-dialog::part(footer) {
  padding-inline: 0;
}

.lui-dialog--large {
  height: 80%;
  width: 80%;
}

.lui-dialog--medium {
  height: 80%;
  width: 60%;
}

.lui-dialog--small {
  height: 80%;
  width: 40%;
}

.lui-dialog--fullscreen {
  height: 100vh;
  width: 100vw;
  min-width: none;
  min-height: none;
  max-width: none;
  max-height: none;
}

ui5-shellbar::part(root) {
    padding-inline-start: 0.75rem;
    padding-inline-end: 1.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.125rem 0 color-mix(in srgb, var(--sapContent_ShadowColor) 16%, transparent),
        0 0.5rem 1rem 0 color-mix(in srgb, var(--sapContent_ShadowColor) 16%, transparent);
}

.tool-layout {
    height: 100%;
    box-sizing: border-box;
    padding: 0.5rem 0.5rem 0 0.5rem;
    /* background: color-mix(in srgb, black 4%, var(--sapBackgroundColor)); */
    display: grid;
    gap: 0.5rem;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
}

ui5-shellbar {
    grid-column: 1 / span 2;
    grid-row: 1 / 2;
}

.content {
    position: relative;
    height: 100%;
    overflow: hidden;
    background: var(--sapBackgroundColor);
    border-radius: 0.5rem 0.5rem 0 0;
    box-shadow: 0 0 0.125rem 0 color-mix(in srgb, var(--sapContent_ShadowColor) 16%, transparent),
        0 0.5rem 1rem 0 color-mix(in srgb, var(--sapContent_ShadowColor) 16%, transparent);
}

.content luigi-container,
.content luigi-compound-container {
    display: block;
    overflow: auto;
    height: 100%;
}


.lui-dialog::part(header),
.lui-dialog::part(footer) {
    padding-inline: 0;
}