.DS_Store
/node_modules/
/src/node_modules/@sapper/
yarn-error.log
/cypress/screenshots/
/__sapper__/
extendedConfiguration.bundle.js
/static/luigi/fiori-fundamentals
/static/luigi/luigi-core
/static/luigi-client