# Sapper + copied node modules
.DS_Store
/node_modules/
/src/node_modules/@sapper/
/cypress/screenshots/
/__sapper__/

# Generated and copied
extendedConfiguration.bundle.js
fundamental-ui
luigi-core
luigi-client
public/*
static/assets
*coreStyles*

# Debug
yarn-error.log
debug*.log
