# Sapper + copied node modules
.DS_Store
/node_modules/
/src/node_modules/@sapper/
/cypress/screenshots/
/__sapper__/

# Generated and copied
extendedConfiguration.bundle.js
luigi-core
luigi-client
docsearch.min.css
public
static/assets
*coreStyles*
navigation-generated.json
sitemap.xml

# Debug
yarn-error.log
debug*.log
