@font-face {
    font-family: '72';
    src: url('/node_modules/@sap-theming/theming-base-content/content/Base/baseLib/sap_base_fiori/fonts/72-Light-full.woff')
      format('woff');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: '72';
    src: url('/node_modules/@sap-theming/theming-base-content/content/Base/baseLib/sap_base_fiori/fonts/72-Light-full.woff2')
      format('woff2');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: '72';
    src: url('/node_modules/@sap-theming/theming-base-content/content/Base/baseLib/sap_base_fiori/fonts/72-Bold-full.woff')
      format('woff');
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: '72';
    src: url('/node_modules/@sap-theming/theming-base-content/content/Base/baseLib/sap_base_fiori/fonts/72-Bold-full.woff2')
      format('woff2');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: '72';
    src: url('/node_modules/@sap-theming/theming-base-content/content/Base/baseLib/sap_base_fiori/fonts/72-Regular-full.woff')
      format('woff');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: '72';
    src: url('/node_modules/@sap-theming/theming-base-content/content/Base/baseLib/sap_base_fiori/fonts/72-Regular-full.woff2')
      format('woff2');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SAP-icons';
    src: url('/node_modules/@sap-theming/theming-base-content/content/Base/baseLib/sap_fiori_3/fonts/SAP-icons.woff')
      format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'SAP-icons';
    src: url('/node_modules/@sap-theming/theming-base-content/content/Base/baseLib/sap_fiori_3/fonts/SAP-icons.woff2')
      format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  