$fd-scss-font-path: '~fundamental-styles/scss/fonts/';
$fd-icons-path: '~fundamental-styles/scss/icons/';

.fd-form-item {
  margin-bottom: 10px;
}

.fd-list-group__item {
  display: block;
}
.fd-dialog {
  z-index: 2;
}
