.fd-form-item {
  margin-bottom: 10px;
}

.fd-list__item {
  display: block;
  border-bottom: none;
  height: auto; //override the 2,75rem from FD Styles, otherwise the content doesn#t fit
  padding: 10px;
}
