$fd-scss-font-path: '~fundamental-styles/scss/fonts/';
$fd-icons-path: '~fundamental-styles/scss/icons/';

.fd-form-item {
  margin-bottom: 10px;
}

.fd-list__item {
  display: block;
  border-bottom: none;
  height: auto;
  padding: 10px;
}
.fd-dialog {
  z-index: 2;
}
