<footer class="p-footer {{#ifpage 'index'}}p-footer--home{{/ifpage}}">

  {{#ifpage 'index'}}
  <section class="s-stage">
    <div class="row align-justify align-middle">
      <div class="column small-12 large-6 image">
        <img src="/assets/img/luigi_diagramm.png" alt="Luigi - Micro Frontend Framework - open source" />
      </div>
      <div class="column small-12 large-6 xlarge-5 content">
        <h2 class="title-2">
          Develop distributed user interfaces the Easy Way
        </h2>
        <a class="btn-primary" href="https://docs.luigi-project.io/docs/getting-started">GET STARTED</a>
      </div>
    </div>
  </section>
  {{/ifpage}}

  <div class="row wr align-middle xxlarge-collapse">
    <div class="column small-12 large-6 left-content">
      <a class="logo" href="/">
        <img src="/assets/img/logo.svg" alt="Luigi" />
      </a>

      <ul class="link-list">
        <li>
          <a href="https://www.sap.com/corporate/en/legal/privacy.html" target="_blank"
            rel="noopener noreferrer">Privacy statement</a>
        </li>
      </ul>
    </div>
    <div class="column small-12 large-6">
      <p class="copyright">&copy; Copyright 2020. The Luigi project authors.</p>
    </div>
  </div>
</footer>