<div class="row has-border xxlarge-collapse align-middle">
  <div class="column small-6 large-3">
    <a class="logo" href="/">
      <img src="{{root}}assets/img/logo.svg" alt="Luigi" />
    </a>
  </div>
  <div class="column small-6 large-9 nav-wr">
    <button id="menuBtn" class="menu-btn hide-for-xlarge"></button>
    <nav id="mainNavigation" class="main-nav">
      <button
        id="closeMainNavigation"
        class="close-btn hide-for-xlarge"
      ></button>
      <ul class="menu">
        <li class="item">
          <a
            href="https://github.com/SAP/luigi/blob/master/docs/README.md"
            target="_blank"
            >Documentation</a
          >
        </li>
      </ul>
      <ul class="social-links">
        <li class="item">
          <a
            href="https://twitter.com/luigiprojectio"
            target="_blank"
            class="icon-twitter-icon"
          ></a>
        </li>
        <li class="item">
          <a
            href="http://slack.luigi-project.io"
            target="_blank"
            class="icon-slack-icon"
          ></a>
        </li>
        <li class="item">
          <a
            href="https://github.com/SAP/luigi"
            target="_blank"
            class="icon-github-icon"
          ></a>
        </li>
      </ul>
    </nav>
  </div>
</div>
