<header class="p-header {{#ifpage 'index'}}p-header--home{{/ifpage}}">
  {{> global-nav}}

  {{#ifpage 'index'}}
    <section class="s-stage">
      <div class="row">
        <div class="column small-12 large-7 xlarge-6 content">
          <h1 class="title-1">The Enterprise-Ready Micro Frontend Framework</h1>
          <a
            class="btn-primary"
            href="https://github.com/SAP/luigi/blob/master/docs/application-setup.md"
            target="_blank"
            >GET STARTED</a
          >
          <a
            class="btn-secondary show-for-large"
            href="https://fiddle.luigi-project.io"
            target="_blank">
              Test playground
          </a>
        </div>
        <div class="column small-12 large-6 image">
          <a href="https://fiddle.luigi-project.io" target="_blank" class="play-button hide-for-large"></a>
        </div>
      </div>
    </section>
  {{/ifpage}}
</header>
