<header class="p-header p-header--home">
  <div class="row has-border">
    <div class="columns small-6 large-3">
      <a class="logo" href="/">
        <img src="{{root}}assets/img/logo.svg" alt="Luigi" />
      </a>
    </div>
    <div class="columns small-6 large-9">
      <ul class="social-links">
        <li class="item">
          <a
            href="https://github.com/SAP/luigi"
            target="_blank"
            class="icon-github-icon"
          ></a>
        </li>
        <li class="item">
          <a
            href="https://twitter.com/luigiprojectio"
            target="_blank"
            class="icon-twitter-icon"
          ></a>
        </li>
      </ul>
    </div>
  </div>
  <section class="s-stage">
    <div class="row">
      <div class="column small-12 large-6 xxlarge-5 content">
        <div class="sub-title">
          The Enterprise-Ready Micro Frontend Framework
        </div>
        <h1 class="title-1">The micro-frontend framework</h1>
        <a
          class="btn-primary"
          href="https://github.com/SAP/luigi"
          target="_blank"
          >GET STARTED</a
        >
      </div>
      <div class="column small-12 large-6 xxlarge-7 image"></div>
    </div>
  </section>
</header>
