<!--
	Instructions for adding new logos:
	* Fork this repo, and clone your fork
	* Create a branch called e.g. `add-myorganisation-logo`
	* Add the logo to the `organisations` directory (preferably SVG)
	* Add a new <li> tag in this component.
	* Create a pull request. Thanks!
-->
<ul class="clients-list">
    <li class="item">
        <a href="https://www.sap.com/index.html" target="_blank"><img src="{{root}}assets/img/logos/sap.svg"
                alt="SAP" /></a>
    </li>
    <li class="item">
        <a href="https://kyma-project.io/" target="_blank"><img src="{{root}}assets/img/logos/kyma.svg"
                alt="Kyma" /></a>
    </li>
    <li class="item">
        <a href="https://www.saas-ag.com/" target="_blank"><img src="{{root}}assets/img/logos/saas.svg"
                alt="SAAS - Software as a Service" /></a>
    </li>
    <li class="item">
        <a href="https://citizen-e.io/" target="_blank"><img src="{{root}}assets/img/logos/sensation.svg"
                alt="Citizen-e.io" /></a>
    </li>
    <li class="item">
        <a href="https://www.snk.de/" target="_blank"><img src="{{root}}assets/img/logos/snk.svg" alt="SNK" /></a>
    </li>
    <li class="item">
        <a href="https://github.com/SAP/luigi/blob/master/website/landingpage/dev/src/pages/index.html"
            target="_blank"><span style="filter: grayscale(1);
        opacity: 0.7; border: 1px solid grey; border-radius: 20px; padding: 15px">+ your company</span></a>
    </li>
</ul>