<!--
	Instructions for adding new logos:
	* Fork this repo, and clone your fork
	* Create a branch called e.g. `add-myorganisation-logo`
	* Add the logo to the `dev/src/assets/img/logos` directory (preferably SVG)
	* Add a new <li> tag in this component.
	* Create a pull request. Thanks!
-->
<ul class="clients-list">
    <li class="item">
        <a href="https://www.sap.com/index.html" target="_blank" rel="noopener noreferrer"><img
                src="/assets/img/logos/sap.svg" alt="SAP" /></a>
    </li>
    <li class="item">
        <a href="https://kyma-project.io/" target="_blank" rel="noopener noreferrer"><img
                src="/assets/img/logos/kyma.svg" alt="Kyma" /></a>
    </li>
    <li class="item">
        <a href="https://www.emporix.com" target="_blank" rel="noopener noreferrer"><img
                src="/assets/img/logos/emporix.svg" alt="emporix" /></a>
    </li>
    <li class="item">
        <a href="https://citizen-e.io/" target="_blank" rel="noopener noreferrer"><img
                src="/assets/img/logos/sensation.svg" alt="Citizen-e.io" /></a>
    </li>
    <li class="item">
        <a href="https://www.snk.de/" target="_blank" rel="noopener noreferrer"><img src="/assets/img/logos/snk.svg"
                alt="SNK" /></a>
    </li>
    <li class="item">
        <a href="http://www.cobrick.com" target="_blank" rel="noopener noreferrer"><img
                src="/assets/img/logos/cobrick.svg" alt="co.brick" /></a>
    </li>
    <li class="item">
        <a href="https://www.medirect.com.mt/" target="_blank" rel="noopener noreferrer"><img
                src="/assets/img/logos/medirect.svg" alt="medirect" /></a>
    </li>
    <li class="item add-your-company">
        <a href="https://github.com/luigi-project/luigi/blob/main/website/landingpage/dev/src/partials/whoisusingluigi.html"
            target="_blank" rel="noopener noreferrer">Your Company</a>
    </li>
</ul>