.green {
  color: green;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}

.active {
  font-size: 30px;
}

.mobileBack {
  display: none;
}

@media (max-width: 600px) {
  .mobileBack {
    display: block;
  }
}
