@font-face {
  font-family: '72';
  src: url('./theming-base-content/content/Base/baseLib/baseTheme/fonts/72-Light-full.woff')
    format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: '72';
  src: url('./theming-base-content/content/Base/baseLib/baseTheme/fonts/72-Light-full.woff2')
    format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: '72';
  src: url('./theming-base-content/content/Base/baseLib/baseTheme/fonts/72-Bold-full.woff')
    format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: '72';
  src: url('./theming-base-content/content/Base/baseLib/baseTheme/fonts/72-Bold-full.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: '72';
  src: url('./theming-base-content/content/Base/baseLib/baseTheme/fonts/72-Regular-full.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: '72';
  src: url('./theming-base-content/content/Base/baseLib/baseTheme/fonts/72-Regular-full.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SAP-icons';
  src: url('./theming-base-content/content/Base/baseLib/baseTheme/fonts/SAP-icons.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SAP-icons';
  src: url('./theming-base-content/content/Base/baseLib/baseTheme/fonts/SAP-icons.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(
    --sapFontFamily,
    '72',
    '72full',
    Arial,
    Helvetica,
    sans-serif
  );
}
