<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Luigi Headless</title>

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1"
    />

    <script
      src="https://ui5-community.github.io/ui5-webcomponents-bundle/assets/bundle.esm.js"
      type="module"
    ></script>
    <script src="https://unpkg.com/@luigi-project/container" type="module"></script>

    <script data-ui5-config type="application/json">
      { "theme": "sap_horizon" }
    </script>
    <link rel="stylesheet" href="/luigi-ui/lui.css" />
  </head>

  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <script src="/public/luigi.js"></script>
    <script src="/luigi-ui/lui-ui5wc.js"></script>
    <script src="/luigi-config.js"></script>
  </body>
</html>
