<!doctype html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="utf-8" />
    <link
      href="https://unpkg.com/@luigi-project/core/luigi_horizon.css"
      rel="stylesheet"
    />

    <style>
      body {
        font-family: var(--sapFontFamily);
        text-align: center;
        color: #515559;
      }
    </style>
    <script src="./public_client/luigi-client.js"></script>
  </head>

  <body>
    <div>
      <h1>Luigi Simple Development Template</h1>
      <p>Some content</p>
      <button onclick="LuigiClient.linkManager().navigate('/home')">nav to home</button>
    </div>
    <script>
      let div = document.createElement('div');
      div.innerHTML = location.hash;
      document.body.appendChild(div);
      window.addEventListener('hashchange', () => {
        div.innerHTML = location.hash;
      });
    </script>
  </body>
</html>
