<section class="fd-section">
  <div class="fd-section__header">
    <h3 class="fd-section__title">Developers</h3>
  </div>
  <div class="fd-layout-panel" title="visitors: {{ visitors }}">
    <div class="fd-layout-panel__body">
      <p>
        Developers content.
      </p>
      <a routerLink="/internal/virtualTree"
        >Navigate internaly using Angular router and LuigiClient's withoutSync to
        /internal/virtualTree</a
      >
    </div>
    <button (click)="checkPath()">checkPath</button>
  </div>
</section>
