<section class="fd-section">
  <div class="fd-section__header">
    <h3 class="fd-section__title">Developers</h3>
  </div>
  <div class="fd-layout-panel" title="visitors: {{ visitors }}">
    <div class="fd-layout-panel__body">
      <p>
        Developers content.
      </p>
      <a routerLink="/internal/virtualTree" data-testid="goToVirtualTree"
        >Navigate internaly using Angular router and LuigiClient's withoutSync to
        /internal/virtualTree</a
      >
      <br />
      <br />
      <button class="contextAsyncBtn" (click)="getContextAsync()">
        get async context
      </button>
      <br />
      <br />
      <span class="contextAsync">{{contextAsync}}</span>
    </div>
  </div>
</section>
