.features-list {

  li {
    margin-bottom: 70px;
  }

  .wr {

    margin: 0 5%;

    @include breakpoint(xxlarge) {
      margin: 0 15%;
    }
  }

  img {
    height: 70px;
    margin-bottom: 40px;
  }

  .title-3 {
    position: relative;

    &:before {
      position: absolute;
      top: 17px;
      left: -20px;
      content: '';
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: $primary-color;
    }
  }

  .description {
    margin-bottom: 0;
  }
}

.content-wrapper {
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.sticky-navigation {
  border-top: 1px solid $powder-blue;
  border-bottom: 1px solid $powder-blue;
  padding: 25px 0;
}

.s-get-ready {

  position: relative;

  &:after {
    display: block;
    position: absolute;
    top: -80px;
    left: 50%;
    margin-left: -120px;
    content: '';
    width: 240px;
    height: 160px;
    background: url(../img/luigi_diagramm.png) no-repeat 50% 50%;
    background-size: contain;

    @include breakpoint(medium down) {
      display: none;
    }
  }
}