.back-to-blog {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 25px;

  &:before {
    position: absolute;
    top: 7px;
    left: 0;
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background: url('../img/link-arrow.svg') no-repeat 50% 50%;
    background-size: auto;
    transform: rotate(180deg);
  }
}
.link-rss-feed {
  display: inline-block;
  margin-bottom: 40px;
  color: $primary-color;
  width: 50px;
  height: 50px;
  background-color: #FFF;
  box-shadow: 2px 2px 10px 0px #D2D2D2;
  transition: all 0.2s linear 0s;
  border-radius: 50%;
  position: relative;

  &:hover, &:active {
    box-shadow: none;
    background-color: $primary-color;
    color: #FFF;
  }

  > svg {
    max-width: 55%;
    transform: translate(50%, 25%);
    background-color: transparent;
  }

  .svg-inline, svg:not(:root).svg-inline {
    overflow: visible;
  }

  .svg-inline {
    width: .875em;
    display: inline-block;
    font-size: inherit;
    height: 1em;
    vertical-align: -.125em;
    max-width: 100%;
  }
}
.blog-entry {
  padding-bottom: 25px;
  margin-bottom: 60px;  
  border-bottom: 1px solid rgb(229, 229, 229);

  &:last-child {
    border-bottom: 0;
    margin-bottom: 0px;
  }

  .title-2 {
    margin-bottom: 0.5em;
  }

  .sub-title {
    font-style: italic;
  }
}
