.s-error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 400px;

  @media only screen and (max-width: 1290px) and (max-height: 580px) {
    top: 90px;
    transform: translate(-50%);
  }

  @media only screen and (min-width: 1290px) and (max-height: 800px) {
    top: 160px;
    transform: translate(-50%);
  }

  @include breakpoint(large) {
    max-width: 500px;
  }
  @include breakpoint(xxlarge) {
    max-width: 600px;
  }

  .top,
  .middle {
    margin-bottom: 35px;

    @include breakpoint(large) {
      margin-bottom: 45px;
    }
    @include breakpoint(xxlarge) {
      margin-bottom: 65px;
    }
  }

  .top,
  .bottom {
    font-size: 15px;
    font-weight: 800;

    @include breakpoint(large) {
      font-size: 17px;
    }

    @include breakpoint(xxlarge) {
      font-size: 20px;
    }
  }

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    line-height: 1.05;
    letter-spacing: 4px;
    -webkit-text-stroke: 1px $primary-color;

    .right {
      position: relative;

      span {
        vertical-align: middle;
      }

      &:before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 3px solid $primary-color;
        border-radius: 50%;
        vertical-align: middle;
        margin-right: 10px;
      }
    }
  }

  .middle {
    border-radius: 15px;
    border: solid 4px $primary-color;
    padding: 12px;
    position: relative;

    .wr {
      border-radius: 7px;
      border: 4px solid white;
      padding: 30px;
      text-align: center;
      color: $primary-color;
      font-size: 35px;
      font-weight: 800;
      line-height: 0.84;
      letter-spacing: -3px;
      text-transform: uppercase;

      @include breakpoint(large) {
        font-size: 50px;
      }
      @include breakpoint(xxlarge) {
        font-size: 70px;
      }
    }

    &:before,
    &:after {
      display: block;
      width: 22px;
      height: 30px;
      content: '';
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      background-color: $secondary-color;
    }

    &:before {
      left: -5px;
    }

    &:after {
      right: -5px;
    }
  }

  .bottom {
    display: flex;
    justify-content: center;

    .links-list {
      line-height: 1;
      letter-spacing: 2px;

      a {
        color: white;
        display: inline-block;
        position: relative;
        padding-bottom: 20px;

        &:before {
          content: '';
          display: block;
          position: absolute;
          left: -50px;
          top: 0;
          width: 22px;
          height: 30px;
          background: url('../img/hand-pointer.svg') 0 0 no-repeat;
          background-size: contain;
          opacity: 0;
          transition: all 0.2s ease-in;
        }

        &.is-active {
          color: $primary-color;

          &:before {
            opacity: 1;
            left: -40px;
          }
        }
      }
    }
  }
}
