.p-header {
  position: relative;

  > .has-border {
    padding-top: 15px;
    padding-bottom: 15px;

    @include breakpoint(xlarge) {
      padding-top: 25px;
      padding-bottom: 25px;
      border-bottom: 1px solid $border-color;
    }

    @include breakpoint(xxlarge) {
      max-width: calc(1290px - 50px);
    }
  }

  &--home {
    background-image: url('../img/header-bg.svg');
    background-repeat: no-repeat;
    background-position: left 50% bottom 100px;
    background-size: cover;
    z-index: 2;

    @include breakpoint(large) {
      background-position: left 50% bottom 0;
    }

    @include breakpoint(xxlarge) {
      background-position: left 70% bottom 0;
    }
  }

  .logo {
    img {
      display: block;
      width: 74px;
      height: 30px;

      @include breakpoint(xlarge) {
        width: 148px;
        height: 60px;
      }
    }
  }

  .social-links {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    .item {
      margin-left: 25px;

      a {
        font-size: 24px;
        color: white;
        transition: color 0.3s ease;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }

  .s-stage {
    padding-top: 30px;
    padding-bottom: 50px;
    color: $white;

    > .row {
      align-items: center;
    }

    .content {
      @include breakpoint(medium down) {
        margin-bottom: 50px;
      }

      @include breakpoint(large) {
        height: 350px;
        padding-top: 30px;
      }

      @include breakpoint(xxlarge) {
        height: 650px;
        padding-top: 110px;
      }
    }

    .sub-title {
      font-family: $extra-font-family;
      font-weight: 500;

      @include breakpoint(xxlarge) {
        font-size: 20px;
      }
    }

    .image {
      background-image: url('../img/running_app_full.png');
      background-position: 50% 0;
      background-repeat: no-repeat;
      background-size: cover;

      @include breakpoint(medium down) {
        padding-top: 52%;
      }

      @include breakpoint(large) {
        background: none;
      }
    }

    @include breakpoint(large) {
      position: relative;
      overflow: hidden;

      padding-top: 55px;
      padding-bottom: 60px;

      > .row {
        position: relative;

        &:before {
          position: absolute;
          display: block;
          height: 100%;
          width: 100%;
          top: 0;
          left: 45%;
          content: '';
          background-image: url('../img/running_app_full.png');
          background-position: 0 0;
          background-repeat: no-repeat;
          background-size: auto 100%;
        }
      }
    }

    @include breakpoint(xxlarge) {
      > .row {
        &:before {
          left: 30%;
        }
      }
    }
  }
}
