.s-intro {
  margin-top: -500px;
  padding-top: 500px;

  @include breakpoint(xlarge) {
    padding-top: calc(500px + 90px);

    .row {
    }
  }

  .wr {
    position: relative;

    &:before,
    &:after {
      display: block;
      position: absolute;
      height: 435px;
      background: url('../img/Luigi_Diagramm.png') no-repeat 0 0;
      background-size: auto 100%;
      content: '';
    }

    &:before {
      left: 0;
      top: -25%;
      transform: rotateY(180deg);
      width: 20vw;
    }

    &:after {
      right: 0;
      transform: rotateY(180deg);
      top: 25%;
      width: 25vw;
      background-position: right 0 top 0;
    }
  }
}

.s-benefits {
  padding: 50px 0;

  @include breakpoint(large) {
    padding: 100px 0;
  }

  .title-2 {
    margin-bottom: 2em;
  }
}

.benefits-list {
  counter-reset: title;

  .item {
    margin-bottom: 50px;

    .image {
      position: relative;

      &:after {
        content: '';
        display: block;
        width: 100%;
        border-top: 1px solid $powder-blue;
        transform: rotate(3deg);
        margin-top: 40px;
      }
    }

    &:nth-child(2n) {
      .image {
        &:after {
          transform: rotate(-3deg);
        }
      }
    }
  }

  .title-3 {
    &:before {
      color: $primary-color;
      counter-increment: title;
      content: '0' counter(title) '. ';
      font-size: 18px;
    }
  }

  .description {
    margin-left: 30px;
  }
}

.s-adopters {
  margin-bottom: -500px;
  padding-bottom: 500px !important;

  .clients-list {
    margin-bottom: 40px;
  }
}
