.s-intro {
  margin-top: -500px;
  padding-top: 500px;

  @include breakpoint(large) {
    padding-top: calc(500px + 60px);
  }

  @include breakpoint(xlarge) {
    padding-top: calc(500px + 100px);

    .wr {
      position: relative;

      &:before,
      &:after {
        display: block;
        position: absolute;
        height: 435px;
        background: url('../img/intro_bg.png') no-repeat 0 0;
        background-size: auto 100%;
        content: '';
      }

      &:before {
        left: 0;
        top: -25%;
        width: 20vw;
        background-position: right 0 top 0;
      }

      &:after {
        right: 0;
        top: 25%;
        width: 25vw;
      }
    }
  }
}

.s-benefits {
  padding: 50px 0;

  .title-2 {
    margin-bottom: 2em;
  }

  @include breakpoint(large) {
    padding: 100px 0;

    .title-2 {
      margin-bottom: 4em;
    }
  }
}

.benefits-list {
  counter-reset: title;

  .item {
    margin-bottom: 50px;

    .description {
      margin-left: 30px;
    }
  }

  .title-3 {
    &:before {
      color: $primary-color;
      counter-increment: title;
      content: '0' counter(title) '. ';
      font-size: 18px;
    }
  }

  @include breakpoint(medium down) {
    .item {
      .image {
        position: relative;

        &:after {
          content: '';
          display: block;
          width: 100%;
          border-top: 1px solid $powder-blue;
          transform: rotate(3deg);
          margin-top: 40px;
        }
      }

      &:nth-child(2n) {
        .image {
          &:after {
            transform: rotate(-3deg);
          }
        }
      }
    }
  }

  @include breakpoint(large) {
    .item {
      margin-bottom: 80px;

      .description {
        position: relative;

        &:after {
          content: '';
          display: block;
          width: 100%;
          border-top: 1px solid $powder-blue;
          transform: rotate(3deg);
          margin-top: 70px;
        }
      }

      &:nth-child(2n + 1) {
        .image {
          text-align: center;
        }
      }

      &:nth-child(2n) {
        .description {
          &:after {
            transform: rotate(-3deg);
          }
        }

        .content {
          order: 2;
        }

        .image {
          order: 1;
        }
      }
    }

    .title-3 {
      &:before {
        margin-right: 10px;
      }
    }
  }

  @include breakpoint(xxlarge) {
    .item {
      margin-bottom: 150px;

      .description {
        width: 75%;
      }
    }
  }
}

.s-adopters {

  .clients-list {
    margin-bottom: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .item {
      margin: 0 30px 30px;
    }
  }

  .title-2 {
    margin-bottom: 3em;
  }
}
