name: Checkmarx One Scan
on: 
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"
jobs:
  trigger_scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkmarx One CLI Action
        uses: checkmarx/ast-github-action@main #Github Action version
        with:
          project_name: Luigi
          cx_tenant: sap
          base_uri: https://checkmarx.tools.sap
          #base_auth_uri: https://checkmarx.tools.sap
          cx_client_id: ${{ secrets.CXONE_CLIENT_ID }}
          cx_client_secret: ${{ secrets.CXONE_CLIENT_SECRET }}
          branch: ${{ github.ref_name }}
          additional_params: "--async --scan-types sast -s https://github.com/luigi-project/luigi.git"
          
