on:
  push:
    branches:
      - '**'
    paths:
      - 'container/**'
  pull_request: 
    branches: 
      - 'main'
name: Code Analysis

jobs:
  container_linting:
    name: Container Linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20.19.0' 
      - name: Install and lint
        working-directory: ./container
        run: npm i && npm run lint || exit 1
    
