on:
  push:
    branches:
      - 'main'
      - 'main-gh_actions'
  pull_request:
    branches:
      - 'main'
name: Build & Test
env:
  CYPRESS_CACHE_FOLDER: ~/cypress-binary-cache

jobs:
  prepare: 
    uses: ./.github/workflows/prepare.yml
    secrets: inherit
    with:
      buildcache_key: buildcache

  unit:
    name: Unit Tests
    needs: prepare
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v3
        with:
          node-version: 18 '18'
      - uses: actions/cache@v3
        with:
          path: |
            ~/tmp_build
            ~/cypress-binary-cache
          key: buildcache
      - run: cp -r ~/tmp_build/* .
      - run: npm test --prefix core

  mock_engine:
    name: Mock Engine Tests
    runs-on: ubuntu-latest
    needs: prepare
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18 '18'    
      - uses: actions/cache@v3
        with:
          path: |
            ~/tmp_build
            ~/cypress-binary-cache
          key: buildcache
      - run: cp -r ~/tmp_build/* . 
      - run: npm i -g cypress
      - run: npm i -g lerna@4.0.0
      - run: npm i -g live-server
      - run: bash ./test/mockengine.sh

  e2e:
    name: Integration Tests
    needs: prepare
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v3
        with:
          node-version: 18 '18'
      - uses: actions/cache@v3
        with:
          path: |
            ~/tmp_build
            ~/cypress-binary-cache
          key: buildcache
      - run: cp -r ~/tmp_build/* .
      - run: sudo apt-get install libgconf-2-4 libgtk2.0-0 libgtk-3-0 libgbm-dev libnotify-dev libgconf-2-4 libnss3 libxss1 libasound2 libxtst6 xauth xvfb
      - run: npm install --prefix test/e2e-test-application @babel/plugin-proposal-class-properties
      - run: bash ./test/e2e.sh

  docu_check:
    name: Check Documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18 '18'       
      - run: cd ./scripts && npm ci
      - run: bash ./scripts/docuCheck.sh
      
