on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'
name: Build & Test
env:
  CYPRESS_CACHE_FOLDER: ~/cypress-binary-cache

jobs:
  prepare: 
    uses: ./.github/workflows/prepare.yml
    secrets: inherit
    with:
      buildcache_key: buildcache

  unit:
    name: Unit Tests
    needs: prepare
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v3
        with:
          node-version: '18.15.0'
      - uses: actions/cache@v3
        with:
          path: |
            ~/tmp_build
            ~/cypress-binary-cache
          key: buildcache
      - run: cp -r ~/tmp_build/* .
      - run: npm test --prefix core || exit 1

  mock_engine:
    name: Mock Engine Tests
    runs-on: ubuntu-latest
    needs: prepare
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18.15.0'    
      - uses: actions/cache@v3
        with:
          path: |
            ~/tmp_build
            ~/cypress-binary-cache
          key: buildcache
      - run: cp -r ~/tmp_build/* . 
      - run: npm i -g cypress
      - run: npm i -g lerna@4.0.0
      - run: npm i -g live-server
      - run: bash ./test/mockengine.sh || exit 1

  container_unit_tests:
    name: Container Unit Tests
    runs-on: ubuntu-latest
    needs: prepare
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18.15.0'    
      - uses: actions/cache@v3
        with:
          path: |
            ~/tmp_build
            ~/cypress-binary-cache
          key: buildcache
      - run: cp -r ~/tmp_build/* . 
      - run: npm test --prefix container || exit 1
    
    
  container_e2e_tests:
    name: Container E2E Tests
    runs-on: ubuntu-latest
    needs: prepare
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18.15.0'    
      - uses: actions/cache@v3
        with:
          path: |
            ~/tmp_build
            ~/cypress-binary-cache
          key: buildcache
      - run: cp -r ~/tmp_build/* . 
      - run: bash ./container/run-container-e2e.sh || exit 1


  e2e:
    name: Integration Tests
    needs: prepare
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v3
        with:
          node-version: '18.15.0'
      - uses: actions/cache@v3
        with:
          path: |
            ~/tmp_build
            ~/cypress-binary-cache
          key: buildcache
      - run: cp -r ~/tmp_build/* .
      - run: sudo apt-get install libgconf-2-4 libgtk2.0-0 libgtk-3-0 libgbm-dev libnotify-dev libgconf-2-4 libnss3 libxss1 libasound2 libxtst6 xauth xvfb
      - run: npm install --prefix test/e2e-test-application @babel/plugin-proposal-class-properties
      - run: ls test 
      - run: bash ./test/e2e-js.sh || exit 1
      - run: bash ./test/e2e-angular.sh || exit 1

  cleanup: 
    needs: [e2e, container_unit_tests, container_e2e_tests, mock_engine, unit]
    uses: ./.github/workflows/cleanup.yml
    secrets: inherit
    with:
      buildcache_key: buildcache
        

  docu_check:
    name: Check Documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18.15.0'       
      - run: cd ./scripts && npm ci
      - run: bash ./scripts/docuCheck.sh
