on:
  push:
    branches:
      - 'main'
jobs:
  unit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '16'
      - uses: actions/cache@v3
        with:
          path: ./
          key: build-cache
      - run: npm i -g lerna
      - run: lerna bootstrap --ci --force-local --ignore docs
      - run: lerna run bundle --ignore docs --scope luigi-client-private
      - run: lerna run bundle --ignore docs --scope @luigi-project/testing-utilities
      - run: lerna run bundle --ignore docs
      - run: lerna run bundlesizeOnly --ignore docs
      - run: lerna run build --ignore docs
      - run: npm test --prefix core
  e2e:
    needs: unit
    runs-on: 
      group: ubuntu-runners
    steps:
      - uses: actions/cache@v3
        with:
          path: ./
          key: build-cache
      - run: npm install --prefix test/e2e-test-application @babel/plugin-proposal-class-properties
      - run: bash ./test/e2e.sh
