<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/@luigi-project/client@2.7.2/luigi-client.js"></script>
    <style type="text/css">
      .fd-panel {
        padding: 15px;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>Home</h1>
    </div>
    <div class="fd-panel" id="init-text"></div>
    <script type="text/javascript">
      LuigiClient.addContextUpdateListener(updatedContext => {
        document.getElementById('init-text').textContent = 'Luigi Client updated.';
      });
      LuigiClient.addInitListener(initialContext => {
        document.getElementById('init-text').textContent = 'Luigi Client initialized.';
      });
    </script>
  </body>
</html>
