<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/fundamental-styles/fundamental-styles.css" />
    <style type="text/css">
      .fd-panel {
        padding: 15px;
      }
    </style>
  </head>
  <body>
    <section class="fd-section">
      <div class="fd-section__header">
        <h1 class="fd-section__title">Home</h1>
      </div>
      <div class="fd-panel" id="init-text"></div>
    </section>

    <script type="text/javascript" src="/luigi-client/luigi-client.js"></script>
    <script type="text/javascript">
      LuigiClient.addContextUpdateListener(updatedContext => {
        document.getElementById('init-text').textContent =
          'Luigi Client updated.';
      });
      LuigiClient.addInitListener(initialContext => {
        document.getElementById('init-text').textContent =
          'Luigi Client initialized.';
      });
    </script>
  </body>
</html>
