<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/fundamental-styles/fundamental-styles.css" />
    <style type="text/css">
      .fd-panel {
        padding: 15px;
      }
    </style>
  </head>
  <body>
    <script type="text/javascript" src="/luigi-client/luigi-client.js"></script>

    <section class="fd-section">
      <div class="fd-section__header">
        <h1 class="fd-section__title">Sample 1</h1>
      </div>
      <div class="fd-panel">
        Luigi ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua.
      </div>
    </section>
  </body>
</html>
